.header{
  background-color: #E4FF8D;
  position: fixed;
  font-size: 20px;
  height: 60px;
  width: 100%;
  border-bottom: 3px solid gray;

  &__bar{
    display: flex;
    line-height: 55px;
    justify-content: space-between;

    &__title{
      font-family: "Ravi Prakash", cursive;
      font-size: 30px;
      padding-left: 30px;

      .Happytravel{
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }

    &__link-hotel{
      .hotel{
        text-decoration: none;
        color: black;
      }
    }

    &__link-chcket{
      // margin-right: 100px;
      .chcket{
        text-decoration: none;
        color: black;
      }
    }

    &__link-tour{
      // margin-left: 50px;
      .tour{
        text-decoration: none;
        color: black;
      }
    }

    &__link-username{
      padding-left: 200px;
      .name{
        text-decoration: none;
        color: black;
      }
    }

    &__link-logout{
      padding-right: 30px;
      .logout{
        text-decoration: none;
        color: black;
      }
    }
  }
}